.h1{
    font-family: 'Arial', Times, serif;
    text-align: center;
}
p {
    background-color: white;
    font-family: 'Arial', Times, serif;
    font-size: 1.3em;
    margin-left: 10%; /* Ajustement en pourcentage */
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    max-width: 80%; /* Limite la largeur du paragraphe */
}
.image-uniforme {
    margin-top: 0.5em;
    margin-left: 12em;
    width: 200px; /* Largeur désirée */
    height: 100px; /* Hauteur désirée */
    object-fit: contain; /* Ajuste l'image sans la déformer */
    background-color: white;
    border-radius: 15px;
}
.image-uniforme:hover {
    box-shadow: 0 3em 15em #1b1464c0;
    transform: scale(1.05); /* Agrandit la box de 5% au survol */
}
@media (max-width: 800px) { /* Pour les écrans jusqu'à 600px de large */
    .image-uniforme {
        margin-top: 0.5em;
        margin-left: 4.5em;
        width: 185px; /* Largeur désirée */
        height: 100px; /* Hauteur désirée */
        object-fit: contain; /* Ajuste l'image sans la déformer */
        background-color: white;
    }
}
@media (max-width: 600px) { /* Pour les écrans jusqu'à 600px de large */
    .image-uniforme {
        margin-top: 0.5em;
        margin-left: 3em;
        width: 150px; /* Largeur désirée */
        height: 100px; /* Hauteur désirée */
        object-fit: contain; /* Ajuste l'image sans la déformer */
        background-color: white;
    }
}