.containerv {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    margin-top: 80px; /* Ajuste selon la hauteur de ta navbar */
    max-width : 1540px;
    z-index: 9999;
}
.section-V {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #252533;
    border: 1px solid #555;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
}

.section-V img {
    width: 70%;
    border-radius: 10px;
    margin-left: 15%;
}

.text {
    width: 100%;
    font-size: 1.2em;
    color: #fff;
}
p{
    margin-top: 15px;
}
/* Inverser l'ordre des éléments une fois sur deux */
.section-V:nth-child(odd) {
    flex-direction: row-reverse;
}
.section-V.intro {
    flex-direction: row; /* Réinitialiser la direction du flex */
}